.logo{
    width: 50%;
    height: 50%;
    margin-left: 20%;
  }

.choice-button{
    margin-left: 50%;
    margin-top: 8%;
    margin-bottom: 0px;
}

.choice-nav{
    padding: 2%;
    width: 100%;
    background-color: rgba(24,78,171);
    color: white;
    margin: 0;
}

.choice-nav-items{
    width: 5em;
    margin-left: 1%;
}

.button-tabs{
    border-style: none;
    border-radius: 0.5em;
    font-size: 1.5em;
    margin-top: 10%;
    background-color: rgba(252,258,252, 0.7);
}

label{
    color: white;
    margin-left: 5%;
    font-size: 30%;
}

h5{
    text-align: center;
}

@media (pointer:none), (pointer:coarse) {
    .choice-nav{
        padding: 2%;
        width: 100%;
        background-color: rgba(24,78,171);
        color: blueviolet;
    }
}

